.container {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -4rem;
    color: whitesmoke;
    position: relative;
}
#photo-close,
#video-close{
    width: 4rem;
    height: 5vh;
    font-size: 2rem;
    transition: all ease .5s;
    cursor: pointer;
    float: right;
}
#photo-close:hover,
#video-close:hover{
    transform: rotate(180deg);
    font-size: 3rem;
}

#video-player{
    max-height: 85vh;
    border-radius: 5px 5px 0 0;
    padding: 1%;
    background: rgba(0, 0, 0, .5);
    transition: all ease .5s;
}

.pos {
    padding: .2rem;
    width: 60%;
    background: rgba(0, 0, 0, .5);
    position: relative;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease .5s;
}
.pos>span{
    margin: 0 1rem;
}
.pos>div {
    width: 3rem;
    height: 3rem;
    display: inline-block;
}

#playBtn {
    cursor: pointer;
}

.magnify{
    font-size: 1.3rem;
    transition: all ease .5s;
}
.magnify:hover{
    font-size: 2rem;
}

#progress {
    height: 12px;
    width: 70%;
    cursor: pointer;
}

#full {
    cursor: pointer;
}