<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/root.min.css">
    <link rel="stylesheet" href="./css/common.min.css">
    <link rel="stylesheet" href="./css/input.min.css">
    <link rel="stylesheet" href="./css/register.min.css">
    <script src="./js/request.min.js"></script>
    <title>登录</title>
</head>
<body>
    <div class="flex-box" id="login">
        <!-- 登录方式选择 -->
        <div class="login-way">
            <ul>
                <li>
                    <span>邮箱登录</span>
                    <div id="slider"></div>
                </li>
                <li>
                    <span>手机登录</span>
                </li>
                <li>
                    <span>刷脸登录</span>
                </li>
            </ul>
        </div>
        <div class="register-main">
            <!-- 邮箱登录 -->
            <form action="/emaillogin" method="post">
                <div class="input-group">
                    <input type="text" id="UserName" name="name" maxLength="50" required>
                    <div class="underline"></div>
                    <label for="UserName">姓名</label>
                </div>
                <div class="input-group">
                    <input type="text" id="UserEmail" name="email" aria-describedby="emailHelp" required>
                    <div class="underline"></div>
                    <label for="UserEmail">邮箱</label>
                </div>
                <div class="input-group">
                    <input type="password" id="UserPasswordFirst" name="password" maxLength="20" required>
                    <div class="underline"></div>
                    <label for="UserPasswordFirst">密码</label>
                </div>
            </form>
            <!-- 手机登录 -->
            <form action="/phonelogin" method="post">
                <div class="input-group">
                    <input type="text" id="UserNamePhone" name="name" maxLength="50" required>
                    <div class="underline"></div>
                    <label for="UserName">姓名或手机号</label>
                </div>
                <div class="input-group">
                    <input type="text" id="UserPhone" name="phone" required>
                    <div class="underline"></div>
                    <label for="UserPhone">手机号</label>
                </div>
                <div class="input-group">
                    <input type="password" id="UserPasswordFirstPhone" name="password" maxLength="20" required>
                    <div class="underline"></div>
                    <label for="UserPasswordFirst">密码</label>
                </div>
            </form>
            <!-- 刷脸登录 -->
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" id="UserNameFace" name="name" maxLength="50" required>
                    <div class="underline"></div>
                    <label for="UserName">姓名</label>
                </div>
                <div id="video-container">
                    <video id="video" src="" width="100%" height="100%" style="object-fit: fill;"></video>
                    <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
                </div>
            </form>
        </div>
        <span>{{Message.message}}</span>
        <div class="input-group" style="padding-top: 1rem;">
            <button type="submit" class="btn" @click="login">登录</button>
        </div>
        <div style="text-align: center;margin-top: -.5rem">
            <a class="login" href="register.html">返回注册</a>
            |
            <a class="login" href="forgetCode.html">忘记密码</a>
        </div>

    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script>
        let active=0;
        function sendData(data,url){
            axios({
                url:url,
                method:'post',
                data:data,
                headers: {
                    'Content-Type': "application/json;charset=UTF-8",
                },
            }).then((res)=>{
                let data=res.data;
                if(data.email==null&&data.phone==null&&data.face==null){
                    $(window).attr('location','/main.html');
                }
                else{
                    if(data.email!=null) Vue.set(vue.Message,'message',''+data.email);
                    else if(data.phone!=null) Vue.set(vue.Message,'message',''+data.phone);
                    else if(data.face!=null) Vue.set(vue.Message,'message',''+data.face);
                    $('.flex-box > span').css('width','100%');
                }
            });
        }
        let vue=new Vue({
            el:"#login",
            data:{
                Message:{
                    message:"报错",
                },
                url:{
                    emailUrl:'/emaillogin',
                    phoneUrl:'/phonelogin',
                    faceUrl:'/facelogin'
                }
            },
            methods: {
                login:function (e) {
                    let data=null;
                    if(active==0){
                        data={
                            name:$('#UserName').val(),
                            email:$('#UserEmail').val(),
                            password:$('#UserPasswordFirst').val()
                        }
                        sendData(data,vue.url.emailUrl);
                    }
                    else if(active==1){
                        data={
                            name:$('#UserNamePhone').val(),
                            phone:$('#UserPhone').val(),
                            password:$('#UserPasswordFirst').val()
                        }
                        sendData(data,vue.url.phoneUrl);
                    }
                    else if(active==2){
                        uploadImg('/facelogin')
                    }
                    e.preventDefault();
                },
            },
        });
        let mediaStreamTrack;
        let li=document.getElementsByTagName('li');
        let form=document.getElementsByTagName('form');
        let initLeft=li[0].getBoundingClientRect().left;
        for(let i=0;i<li.length;i++){
            li[i].onclick=function(){
                let j=0;
                for(j=0;j<li.length;j++){
                    if(li[j]==this) break;
                }
                if(j==active) return;
                if(active==0||active==1){
                    let input=document.getElementsByTagName('input');
                    for(let i=active*3;i<(active+1)*3;i++){
                        input[i].value="";
                    }
                    $('.flex-box > span').css('width','0%');
                }
                if (j === 2) {
                    if (!openCamera()) {
                        //开启摄像机成功
                        alert('摄像头开启失败');
                    }
                }
                else {
                    mediaStreamTrack && mediaStreamTrack.stop();
                }
                let left=this.getBoundingClientRect().left;
                let slider=document.getElementById('slider');
                this.style.color="dodgerblue";
                li[active].style.color="silver";
                slider.style.left=left-initLeft+"px";

                //展开表单
                form[active].style.width="0";
                form[j].style.width="100%";

                active=j;
            }
        }
    </script>
    <script src="./js/face-recognition.js"></script>
</body>
</html>