<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/root.min.css">
    <link rel="stylesheet" href="./css/main-left.min.css">
    <link rel="stylesheet" href="./css/main-middle.min.css">
    <link rel="stylesheet" href="./css/main-right.min.css">
    <link rel="stylesheet" href="./css/input.min.css">
    <link rel="stylesheet" href="./css/uploadimg.min.css">
    <link rel="stylesheet" href="./css/general-setting.min.css">
    <link rel="stylesheet" href="./css/Jcrop.min.css">
    <link rel="stylesheet" href="./css/audio.min.css">
    <link rel="stylesheet" href="./css/video.min.css">
    <link rel="stylesheet" href="./css/photo.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/riff.min.js"></script>
    <script src="./js/Jcrop.min.js"></script>
    <script src="./js/emoji.min.js"></script>
    <script src="./js/contact.min.js"></script>
    <script src="./js/request.min.js"></script>
    <title>首页</title>
</head>

<body>
<div id="app">
    <div class="main-flex">
        <div class="left-nav">
            <div id="left-nav-main">
                <div class="search">
                    <div class="setting-switch">
                        <div class="search-left riff" id="setting-btn">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </div>
                        <div class="search-left riff" id="search-close-btn">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="search-main">
                        <div class="search-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </div>
                        <input type="search" v-model.trim="searchContent.content" @keydown.enter="searchSubmit"
                               placeholder="搜索" id="left-search" autocomplete="off">
                        <div class="close riff" @click="clearSearch">
                            <ion-icon name="add-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="search-right">
                        <ion-icon name="chevron-back-outline"></ion-icon>
                    </div>
                </div>
                <div id="hidden" class="shadow">
                    <div class="hidden-items">
                        <div class="hidden-items-icon ion-icon-center">
                            <ion-icon name="moon-outline"></ion-icon>
                        </div>
                        <div class="hidden-items-context">
                            <span>夜间模式</span>
                        </div>
                        <div class="switch" id="darkModel">
                            <div class="switch-btn" id="dark"></div>
                        </div>
                    </div>
                    <div class="hidden-items">
                        <div class="hidden-items-icon ion-icon-center">
                            <ion-icon name="settings-outline"></ion-icon>
                        </div>
                        <div class="hidden-items-context">
                            <span>设置</span>
                        </div>
                    </div>
                </div>
                <div class="classify">
                    <div class="list">
                        <div class="frame" v-for="(classify,index) in contactClassify" :key="classify" @click="frameClick(index,$event)">
                            <div class="title">
                                {{classify}}
                            </div>
                            <div class="unread">
                                <ion-icon name="alert-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="search-list unactive">
                        <div class="search-frame" v-for="(classify,index) in searchClassify" :key="index">
                            <div class="title">
                                {{classify}}
                            </div>
                        </div>
                    </div>
                    <div id="slider"></div>
                </div>
                <div class="line"></div>
                <div class="contact" id="scroll">
                    <div class="contact-list" v-for="(classify,contactIndex) in contact" :key="contactIndex">
                        <div class="contact-items" v-for="(item,index) in classify" :key="index" @click="contactClick(item,index,$event)">
                            <div class="portrait">
                                <img :src="item.headportrait" alt="头像">
                            </div>
                            <div class="info">
                                <div class="contact-info">
                                    <div class="first-info">
                                        <h3 style="margin-right: 1rem;">{{item.nickname}}</h3>
                                        <ion-icon v-if="item.misTiming!=null&&item.doNotDisturb" name="notifications-off-outline"></ion-icon>
                                    </div>
                                    <div v-if="item.misTiming!==null" class="second-info">{{showContent(item)}}</div>
                                </div>
                            </div>
                            <div v-if="item.misTiming!==null" class="hint">
                                <div class="hint-time">{{showContentTime(item)}}</div>
                                <div class="unread-num-frame" v-if="(item.chatInfo.length!==0&&!item.chatInfo[item.chatInfo.length-1].readFlag)&&(item.chatInfo[item.chatInfo.length-1].origin!==userInfo.id)">
                                    <div class="unread-num" v-html="showUnread(item)"></div>
                                </div>
                            </div>
                            <div v-else="item.misTiming!==null" class="ion-icon-center contact-add" @click="userAddContact(item)">
                                <ion-icon name="person-add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="search-result-list">
                        <div class="search-result-items" v-for="(item,index) in searchResult.user" :key="index">
                            <div class="portrait small-3" style="margin-left: 2rem;margin-right: 2rem;">
                                <img :src="item.headportrait" alt="头像">
                            </div>
                            <div class="info">
                                <div class="contact-info">
                                    <div class="first-info">
                                        <h3 style="margin-right: 1rem;">{{item.nickname}}</h3>
                                        <ion-icon v-if="item.doNotDisturb" name="notifications-off-outline"></ion-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="ion-icon-center contact-add" @click="addContact(item)">
                                <ion-icon name="person-add-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="search-result-list">
                        <div class="search-result-items" v-for="(item,index) in searchResult.file" :key="index">
                            <div class="file-info-items">
                                <div class="file-info-items-img">
                                    <span>file</span>
                                </div>
                                <div class="file-info-items-introduce">
                                    <div class="file-info-items-title">
                                        <h4>{{item.originName}}</h4>
                                    </div>
                                    <div class="file-info-items-size">
                                        <span>{{item.size}}</span>
                                    </div>
                                    <div class="file-info-items-time">
                                        <span>{{item.time.year+'/'+item.time.mouth+'/'+item.time.day}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ion-icon-center contact-add" @click="download(item.fileStorageNo,item.originName)">
                                <ion-icon name="cloud-download-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="search-result-list">
                        <div class="search-result-items" v-for="(item,index) in searchResult.photo" :key="index">
                            <div class="file-info-items" @click="photoPreview(item.fileStorageNo,item.originName)">
                                <div class="file-info-items-img">
                                    <img :src="'/photo/dim/'+item.fileStorageNo" height="100%" alt="">
                                </div>
                                <div class="file-info-items-introduce">
                                    <div class="file-info-items-title">
                                        <h4>{{item.originName}}</h4>
                                    </div>
                                    <div class="file-info-items-size">
                                        <span>{{item.size}}</span>
                                    </div>
                                    <div class="file-info-items-time">
                                        <span>{{item.time.year+'/'+item.time.mouth+'/'+item.time.day+' '+item.time.hour+':'+item.time.minute}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ion-icon-center contact-add" @click="download(item.fileStorageNo,item.originName)">
                                <ion-icon name="cloud-download-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="search-result-list">
                        <div class="search-result-items" v-for="(item,index) in searchResult.video" :key="index">
                            <div class="video-info-items" @click="videoPreview(item.fileStorageNo,'/thumbnail/'+item.uuid)">
                                <div class="duration">
                                    <div>
                                        <ion-icon name="caret-forward-outline"></ion-icon>
                                        <span>12:39</span>
                                    </div>
                                </div>
                                <img :src="'/thumbnail/'+item.uuid" width="100%" height="100%" alt="">
                            </div>
                            <div class="file-info-items-introduce" style="font-size: 1rem;">
                                <div class="file-info-items-title">
                                    <h4>{{item.originName}}</h4>
                                </div>
                                <div class="file-info-items-size">
                                    <span>{{item.size}}</span>
                                </div>
                                <div class="file-info-items-time">
                                    <span>{{item.time.year+'/'+item.time.mouth+'/'+item.time.day}}</span>
                                </div>
                            </div>
                            <div class="ion-icon-center contact-add" @click="download(item.fileStorageNo,item.originName)">
                                <ion-icon name="cloud-download-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                    <div class="search-result-list">
                        <div class="search-result-items" v-for="(item,index) in searchResult.music" :key="index">
                            <div class="music-info-items" @click="audioPreview(item.fileStorageNo,item.originName)">
                                <div class="music-icon">
                                    <ion-icon name="caret-forward-outline"></ion-icon>
                                </div>
                                <div class="music-info-introduce">
                                    <h5>{{item.originName}}</h5>
                                    <span>时长</span>
                                    <span>{{item.size}}</span>
                                </div>
                            </div>
                            <div class="ion-icon-center contact-add" @click="download(item.fileStorageNo,item.originName)">
                                <ion-icon name="cloud-download-outline"></ion-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 隐藏页面 -->
            <div id="user-setting">
                <div class="hidden-head">
                    <div class="hidden-head-close ion-icon-center riff">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="hidden-head-title">
                        <h4>设置</h4>
                    </div>
                    <div class="hidden-head-setting riff">
                        <div class="ion-icon-center">
                            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="user-img user-head-portrait">
                        <img :src="userInfo.headportrait" alt="">
                    </div>
                    <div id="user-name">
                        <h4 v-html="userInfo.nickname"></h4>
                    </div>
                    <div id="user-phone-number">
                        <span>{{userPhone}}</span>
                    </div>
                </div>
                <div id="user-setting-info">
                    <div class="user-setting-info-items">
                        <div class="ion-icon-center">
                            <ion-icon name="pencil-outline"></ion-icon>
                        </div>
                        <div>
                            <span>编辑信息</span>
                        </div>
                    </div>
                    <div class="user-setting-info-items">
                        <div class="ion-icon-center">
                            <ion-icon name="folder-outline"></ion-icon>
                        </div>
                        <div>
                            <span>联系人分类</span>
                        </div>
                    </div>
                    <div class="user-setting-info-items">
                        <div class="ion-icon-center">
                            <ion-icon name="settings-outline"></ion-icon>
                        </div>
                        <div>
                            <span>通用设置</span>
                        </div>
                    </div>
                    <div class="user-setting-info-items">
                        <div class="ion-icon-center">
                            <ion-icon name="language-outline"></ion-icon>
                        </div>
                        <div>
                            <span>语言</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 设置的隐藏页面 -->
            <div class="user-setting-hidden">
                <div class="hidden-head">
                    <div class="user-setting-close ion-icon-center riff">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="hidden-head-title">
                        <h4>编辑信息</h4>
                    </div>
                </div>
                <div>
                    <div class="user-img user-head-portrait" id="image-input">
                        <img :src="userInfo.headportrait" alt="">
                    </div>
                    <div class="ion-icon-center transparent-camera" id="image-select">
                        <!--头像上传-->
                        <ion-icon name="camera-outline"></ion-icon>
                    </div>
                </div>
                <div id="user-real-name">
                    <form @submit.prevent="changeInfo" method="post">
                        <div class="input-group">
                            <input type="text" id="Name" name="name" v-model="userInfo.name" required>
                            <div class="underline"></div>
                            <label for="Name">姓名</label>
                        </div>
                        <div class="input-group">
                            <input type="text" id="UserName" name="nickname" v-model="userInfo.nickname" required>
                            <div class="underline"></div>
                            <label for="UserName">昵称</label>
                        </div>
                        <div class="input-group">
                            <input type="text" id="UserGender" name="gender" v-model="userInfo.gender" required>
                            <div class="underline"></div>
                            <label for="UserName">性别</label>
                        </div>
                        <div class="input-group">
                            <input type="text" id="UserEmail" name="email" v-model="userInfo.email" required>
                            <div class="underline"></div>
                            <label for="UserEmail">邮箱</label>
                        </div>
                        <div class="input-group">
                            <input type="text" id="UserPhone" name="phone" v-model="userInfo.phone" required>
                            <div class="underline"></div>
                            <label for="UserPhone">手机号</label>
                        </div>
                        <div class="input-group">
                            <input type="submit" class="btn" value="提交">
                        </div>
                    </form>
                </div>
            </div>
            <div class="user-setting-hidden">
                <div class="hidden-head">
                    <div class="user-setting-close ion-icon-center riff">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="hidden-head-title">
                        <h4>联系人分类</h4>
                    </div>
                </div>
                <div>
                    <div class="bg-img ion-icon-center">
                        <ion-icon name="folder-outline"></ion-icon>
                    </div>
                    <div id="add-folder" @click="changFlag">
                        <div class="ion-icon-center">
                            <ion-icon name="add-outline"></ion-icon>
                        </div>
                        <span>添加</span>
                    </div>
                </div>
                <div id="folder" class="contact">
                    <div class="folder-title">
                        <span>分类</span>
                    </div>
                    <template v-for="(classify,index) in contactClassify">
                        <div v-if="classify!='新的朋友'&&classify!='所有'" class="folder-items" @click.self="deleteContactFromFolder(index,$event)">
                            <div class="classify-name">
                                <span>{{classify}}</span>
                            </div>
                            <div class="classify-statistics">
                                <span>{{contact[index].length}}人</span>
                            </div>
                            <div class="folder-delete" @click.stop="deleteFolder(classify)">
                                <div class="small-2 ion-icon-center">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="user-setting-hidden">
                <div class="hidden-head">
                    <div class="user-setting-close ion-icon-center riff">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="hidden-head-title">
                        <h4>通用设置</h4>
                    </div>
                </div>
                <div class="general-setting" style="align-items: flex-start;margin-top: 0;">
                    <div class="general-setting-items shadow-bottom">
                        <span>设置</span>
                        <div class="introduce">
                            <label for="font-size-range">字体大小</label>
                            <span>16</span>
                        </div>
                        <div class="font-size-setting">
                            <div class="progress-line"></div>
                            <input id="font-size-range" type="range" step="1" min="12" max="20">
                        </div>
                    </div>
                    <div class="general-setting-items shadow-bottom">
                        <span>键盘</span>
                        <div class="keyboard-setting">
                            <form action="" method="post">
                                <div id="send-by-enter">
                                    <input type="radio" class="input-radio" name="sendByEnter" id="sendByEnter" checked>
                                    <label for="sendByEnter"></label>
                                    <div class="keyboard-introduce">
                                        <span>Enter发送</span>
                                        <span>通过Shift+Enter发送新的一行</span>
                                    </div>
                                </div>
                                <div id="send-by-ctrl-enter">
                                    <input type="radio" class="input-radio" name="sendByEnter" id="sendByCtrlEnter">
                                    <label for="sendByCtrlEnter"></label>
                                    <div class="keyboard-introduce">
                                        <span>Ctrl+Enter发送</span>
                                        <span>通过Enter发送新的一行</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 主题的选择 -->
                    <!-- <div class="chat-bg shadow-bottom">
                        <form action="" method="post">
                            <input type="radio" name="theme" id="">
                            <input type="file" name="theme" id="">
                        </form>
                    </div> -->
                </div>
            </div>
            <div id="folder-operation">
                <div class="hidden-head">
                    <div id="folder-setting-close" class="ion-icon-center">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="hidden-head-title">
                        <h4 v-if="addOrEdit">添加分类</h4>
                        <h4 v-else="addOrEdit">编辑分类</h4>
                    </div>
                    <div class="folder-setting ion-icon-center" @click="folderSubmit">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <!-- 删除 -->
                        <!-- <ion-icon name="trash-outline" v-else="addOrEdit"></ion-icon> -->
                    </div>
                </div>
                <div class="bg-img-bg">
                    <div class="bg-img ion-icon-center">
                        <ion-icon name="folder-open-outline"></ion-icon>
                    </div>
                </div>
                <div class="folder-form">
                    <form action="" method="post">
                        <div class="input-shadow">
                            <div class="input-group">
                                <input type="text" id="newFolderName" v-model.trim="selected.folderName" required>
                                <div class="underline"></div>
                                <label for="newFolderName">新分类名称</label>
                            </div>
                        </div>
                        <div class="blank"></div>
                        <div id="folder-contact-add">
                            <div class="folder-contact-title">
                                <span>成员</span>
                            </div>
                            <div id="folder-contact-add-btn">
                                <div class="add-btn-icon ion-icon-center">
                                    <ion-icon name="add-outline"></ion-icon>
                                </div>
                                <span>添加成员</span>
                            </div>
                            <div class="folder-contact-list">
                                <div class="folder-contact-items" v-for="person in selected.selectedPerson" :key="person.contactid">
                                    <div class="portrait small-2">
                                        <img :src="person.headportrait" alt="">
                                    </div>
                                    <span>{{person.nickname}}</span>
                                    <div class="small-2 ion-icon-center" @click="deleteContactFromNewFolder(person)">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="select-mumbers">
                <div class="hidden-head">
                    <div class="select-setting-close ion-icon-center">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="hidden-head-title">
                        <h4>添加联系人</h4>
                    </div>
                    <div class="select-setting ion-icon-center" @click="addSelected">
                        <ion-icon name="checkmark-outline"></ion-icon>
                    </div>
                </div>
                <form action="" method="get">
                    <div class="select-list">
                        <div class="select-mumbers-items" v-for="person in contact[0]" :key="person.contactid">
                            <div class="portrait small-3">
                                <img :src="person.headportrait" alt="">
                            </div>
                            <label>{{person.nickname}}</label>
                            <input class="checkbox-mumbers" type="checkbox" v-model="person.select">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="middle-chat">
            <div class="top">
                <div class="left-nav-expand ion-icon-center">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
                <!-- 展示联系人的置顶信息 -->
                <template v-if="!media.audio">
                    <div class="top-items">
                        <span>{{currentChat.contactInfo.nickname}}</span>
                    </div>
                    <div v-if="currentChat.contactInfo.doNotDisturb" class="icon-common ion-icon-center" @click="doNotDisturb">
                        <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                    <div v-else="currentChat.contactInfo.doNotDisturb" class="icon-common ion-icon-center mute" @click="doNotDisturb">
                        <ion-icon name="notifications-off-outline"></ion-icon>
                    </div>
                </template>
                <!-- 管理媒体 -->
                <template v-else="!media.audio">
                    <div id="media-info" class="top-items">
                        <audio id="audio-preview" src="" type="audio/mp3"></audio>
                        <div class="audio-left">
                            <div class="audio-control" id="audio-pre">
                                <ion-icon name="play-skip-back-outline"></ion-icon>
                            </div>
                            <div class="audio-control" id="audioPlayer">
                                <ion-icon name="play-circle-outline"></ion-icon>
                            </div>
                            <div class="audio-control" id="audio-next">
                                <ion-icon name="play-skip-forward-outline"></ion-icon>
                            </div>
                        </div>
                        <div class="audio-right">
                            <p style="max-width: 536px;"></p>
                            <div class="progress-bar-bg" id="progressBarBg">
                                <span id="progressDot" class="shadow"></span>
                                <div class="progress-bar" id="progressBar"></div>
                            </div>
                            <div class="audio-time">
                                <span class="audio-length-current" id="audioCurTime">00:00</span>
                                <span class="audio-length-total">00:00</span>
                            </div>
                        </div>
                        <div id="audio-close" class="ion-icon-center">
                            <ion-icon name="close-outline"></ion-icon>
                        </div>
                    </div>
                </template>
                <div class="icon-common right-close ion-icon-center">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
            </div>
            <div class="reminder">
                <span id="prompt" class="shadow">请选择一个好友聊天</span>
            </div>
            <!-- 展示聊天信息 -->
            <div id="chat-main">
                <template v-for="(info,index) in currentChat.contactInfo.chatInfo">
                    <!-- 自己信息 -->
                    <div v-if="info.origin===userInfo.id" class="user-info-items info-items">
                        <!-- <div class="share riff" @click="shareInfo()">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                        </div> -->
                        <div class="chat-info-main shadow">
                            <template v-if="info.file">
                                <div class="file">
                                    <div class="file-icon" :class="{'shadow':info.filetype!=='audio','share-contact-img':info.share}">
                                        <p v-if="info.filetype==='application'" @click="download(info.fileStorageNo,info.content)">{{info.suffix}}</p>
                                        <img v-if="info.filetype==='video'" :src="'/thumbnail/'+info.thumbnail" width="100%" height="100%" alt="" onload="autoSize(event)" @click="videoPreview(info.fileStorageNo,'/thumbnail/'+info.thumbnail)">
                                        <div v-if="info.filetype==='audio'" class="ion-icon-center chat-audio shadow" @click="audioPreview(info.fileStorageNo,info.content)">
                                            <ion-icon name="caret-forward-outline"></ion-icon>
                                        </div>
                                        <img v-if="info.filetype==='image'" :src="'/photo/dim/'+info.fileStorageNo" width="100%" height="100%" alt="" onload="autoSize(event)" @click="photoPreview(info.fileStorageNo,info.content)">
                                        <img v-if="info.filetype===null" :src="'/headportrait/'+info.content" width="100%" height="100%" alt="" @click="searchShare(info.shareContactNickName)">
                                    </div>
                                    <div class="chat-file-info user-select" v-if="info.filetype!==null">
                                        <p class="file-name">{{info.content}}</p>
                                        <p style="font-size: .5rem;padding-top: 0;padding-bottom: 0;">发送时间：{{info.time.year+'-'+info.time.mouth+'-'+info.time.day}}</p>
                                        <p style="font-size: .5rem;padding-top: 0;padding-bottom: 0;">文件大小：{{info.size}}</p>
                                    </div>
                                    <div class="chat-file-info" v-else="info.filetype!==null">
                                        <p class="file-name user-select" style="margin-left: 1rem;">{{info.shareContactNickName}}</p>
                                    </div>
                                </div>
                            </template>
                            <template v-else="info.file">
                                <p class="user-select" v-html="info.content"></p>
                            </template>
                            <div class="current-time">
                                <span>{{info.time.hour+':'+info.time.minute}}</span>
                            </div>
                        </div>
                        <div class="portrait chat-info-img shadow">
                            <img :src="userInfo.headportrait" alt="">
                        </div>
                    </div>
                    <!-- 对方信息 -->
                    <div v-else="info.origin===userInfo.id" class="info-items">
                        <div class="portrait chat-info-img shadow">
                            <img :src="currentChat.contactInfo.headportrait" alt="">
                        </div>
                        <div class="chat-info-main shadow">
                            <template v-if="info.file">
                                <div class="file">
                                    <div class="file-icon" :class="{'shadow':info.filetype!=='audio','share-contact-img':info.share}">
                                        <p v-if="info.filetype==='application'" @click="download(info.fileStorageNo,info.content)">{{info.suffix}}</p>
                                        <img v-if="info.filetype==='video'" :src="'/thumbnail/'+info.thumbnail" width="100%" height="100%" alt="" onload="autoSize(event)" @click="videoPreview(info.fileStorageNo,'/thumbnail/'+info.thumbnail)">
                                        <div v-if="info.filetype==='audio'" class="ion-icon-center chat-audio shadow" @click="audioPreview(info.fileStorageNo,info.content)">
                                            <ion-icon name="caret-forward-outline"></ion-icon>
                                        </div>
                                        <img v-if="info.filetype==='image'" :src="'/photo/dim/'+info.fileStorageNo" width="100%" height="100%" alt="" onload="autoSize(event)" @click="photoPreview(info.fileStorageNo,info.content)">
                                        <img v-if="info.filetype===null" :src="'/headportrait/'+info.content" width="100%" height="100%" alt="" @click="searchShare(info.shareContactNickName)">
                                    </div>
                                    <div class="chat-file-info user-select" v-if="info.filetype!==null">
                                        <p class="file-name">{{info.content}}</p>
                                        <p style="font-size: .5rem;padding-top: 0;padding-bottom: 0;">发送时间：{{info.time.year+'-'+info.time.mouth+'-'+info.time.day}}</p>
                                        <p style="font-size: .5rem;padding-top: 0;padding-bottom: 0;">文件大小：{{info.size}}</p>
                                    </div>
                                    <div class="chat-file-info" v-else="info.filetype!==null">
                                        <p class="file-name user-select" style="margin-left: 1rem;">{{info.shareContactNickName}}</p>
                                    </div>
                                </div>
                            </template>
                            <template v-else="info.file">
                                <p class="user-select" v-html="info.content"></p>
                            </template>
                            <div class="current-time">
                                <span>{{info.time.hour+':'+info.time.minute}}</span>
                            </div>
                        </div>
                        <!-- <div class="share riff" @click="shareInfo">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                        </div> -->
                    </div>
                </template>
            </div>
            <!-- 输入框 -->
            <div class="input-frame">
                <div class="input-frame-left shadow">
                    <div id="emotion" style="margin-right: .5rem;resize: none;">
                        <ion-icon name="happy-outline"></ion-icon>
                    </div>
                    <div style="width: 100%;display: flex;justify-content: center;">
                        <textarea name="" id="editor" @keydown.enter="sendMsg(false,$event)"></textarea>
                    </div>
                    <!-- <div id="editor" placeholder="消息" style="height: 2.5rem;overflow-y: scroll;max-width: 100%;user-select: all" contenteditable="true"></div> -->
                    <div id="send-file" class="riff" @click="upLoadMedia" style="resize: none;">
                        <ion-icon name="attach-outline"></ion-icon>
                        <input type="file" id="media" hidden multiple name="media" accept="*/*">
                    </div>
                </div>
                <!-- 语音 -->
                <!-- <div class="input-frame-right shadow riff">
                    <ion-icon name="mic-outline"></ion-icon>
                </div> -->
            </div>
            <div id="emoji">
                <!-- 展示表情 -->
                <div style="display: flex">
                    <!-- 系统-->
                    <template v-for="(item,index) in emojiArr">
                        <div class="emoji-container" style="width: 0;">
                            <div class="emoji">
                                <template v-for="(icon,ind) in item.iconArr">
                                    <div :class="icon.className" class="emoji-icon" style="display: inline-block;">{{icon.icon}}</div>
                                </template>
                            </div>
                        </div>
                    </template>
                    <div class="emoji-container" style="width: 0;">
                        <!-- 收藏-->
                        <div class="emoji"></div>
                    </div>
                </div>
                <!-- 表情分类 -->
                <div style="overflow: hidden;">
                    <div style="position: relative;display: flex;white-space: nowrap;">
                        <template v-for="(item,index) in emojiArr">
                            <div @click="emojiSwitch(index,$event)" class="emoji-list">{{item.name}}</div>
                        </template>
                    </div>
                    <div id="emoji-list-active"></div>
                </div>
            </div>
        </div>
        <div class="right-info">
            <div class="ordinary">
                <div class="left-contact-img bottom-line">
                    <div class="portrait big-portrait">
                        <img :src="currentChat.contactInfo.headportrait" alt="">
                    </div>
                    <div class="contact-name">
                        <h3>{{currentChat.contactInfo.nickname}}</h3>
                        <span v-html="showOutLineTime"></span>
                    </div>
                </div>
                <div class="introduction bottom-line">
                    <div class="icon">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                    <!-- 邮箱或者电话号码 -->
                    <div class="introduction-info">
                        <div>
                            <span id="contact-phone">{{currentChat.contactInfo.phone}}</span>
                            <span id="contact-hint-info">电话</span>
                        </div>
                        <div>
                            <span id="id">${{currentChat.contactInfo.contactid}}</span>
                            <span>联系人id</span>
                        </div>
                    </div>
                </div>
                <div class="statistics bottom-line">
                    <div class="statistics-items">
                        <div>
                            <ion-icon name="folder-outline"></ion-icon>
                        </div>
                        <span>文件</span>
                    </div>
                    <div class="statistics-items">
                        <div>
                            <ion-icon name="image-outline"></ion-icon>
                        </div>
                        <span>照片</span>
                    </div>
                    <div class="statistics-items">
                        <div>
                            <ion-icon name="videocam-outline"></ion-icon>
                        </div>
                        <span>视频</span>
                    </div>
                    <div class="statistics-items">
                        <div>
                            <ion-icon name="pulse-outline"></ion-icon>
                        </div>
                        <span>音频</span>
                    </div>
                </div>
                <div class="edit-contact">
                    <div class="edit-items" id="share-contact-info">
                        <div>
                            <ion-icon name="paper-plane-outline"></ion-icon>
                        </div>
                        <span>分享联系人信息</span>
                    </div>
                    <div class="edit-items" id="editContactNickName">
                        <div>
                            <ion-icon name="options-outline"></ion-icon>
                        </div>
                        <span>编辑联系人昵称</span>
                    </div>
                    <div class="edit-items" @click="deleteContact">
                        <div>
                            <ion-icon name="trash-outline"></ion-icon>
                        </div>
                        <span>删除联系人</span>
                    </div>
                    <div class="edit-items" id="blackContact" @click="userBlackContact" v-if="currentChat.contactInfo.relative===0||currentChat.contactInfo.relative===2">
                        <div>
                            <ion-icon name="heart-dislike-outline"></ion-icon>
                        </div>
                        <span>拉黑联系人</span>
                    </div>
                    <div class="edit-items" id="whiteContact" @click="userWhiteContact" v-else="currentChat.contactInfo.relative===0||currentChat.contactInfo.relative===2">
                        <div>
                            <ion-icon name="heart-outline"></ion-icon>
                        </div>
                        <span>移出黑名单</span>
                    </div>
                </div>
            </div>
            <div class="statistics-info file-info">
                <div class="statistics-close">
                    <ion-icon class="statistics-close-icon" name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="statistics-frame">
                    <template v-for="(item,index) in currentChat.contactInfo.chatInfo">
                        <div class="file-info-items" @click="download(item.fileStorageNo,item.content)" v-if="item.file&&item.filetype!=='audio'&&item.filetype!=='video'&&item.filetype!=='image'&&item.share===null">
                            <div class="file-info-items-img">
                                <span>{{item.suffix}}</span>
                            </div>
                            <div class="file-info-items-introduce">
                                <div class="file-info-items-title">
                                    <h4>{{item.content}}</h4>
                                </div>
                                <div class="file-info-items-size">
                                    <span>{{item.size}}</span>
                                </div>
                                <div class="file-info-items-time">
                                    <span>{{item.time.year+'/'+item.time.mouth+'/'+item.time.day}}</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="statistics-info photo-info">
                <div class="statistics-close">
                    <ion-icon class="statistics-close-icon" name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="statistics-frame">
                    <template v-for="(item,index) in currentChat.contactInfo.chatInfo">
                        <div class="file-info-items" v-if="item.file&&item.filetype==='image'&&item.share===null" @click="photoPreview(item.fileStorageNo,item.content)">
                            <div class="file-info-items-img">
                                <img :src="'/photo/dim/'+item.fileStorageNo" height="100%" alt="">
                            </div>
                            <div class="file-info-items-introduce">
                                <div class="file-info-items-title">
                                    <h4>{{item.content}}</h4>
                                </div>
                                <div class="file-info-items-size">
                                    <span>{{item.size}}</span>
                                </div>
                                <div class="file-info-items-time">
                                    <span>{{item.time.year+'/'+item.time.mouth+'/'+item.time.day+' '+item.time.hour+':'+item.time.minute}}</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="statistics-info video-info">
                <div class="statistics-close">
                    <ion-icon class="statistics-close-icon" name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="statistics-frame">
                    <template v-for="(item,index) in currentChat.contactInfo.chatInfo">
                        <div class="video-info-items" v-if="item.file&&item.thumbnail!==null&&item.share===null" @click="videoPreview(item.fileStorageNo,'/thumbnail/'+item.thumbnail)">
                            <div class="duration">
                                <div>
                                    <ion-icon name="caret-forward-outline"></ion-icon>
                                    <span>12:39</span>
                                </div>
                            </div>
                            <img :src="'/thumbnail/'+item.thumbnail" width="100%" height="100%" alt="">
                        </div>
                    </template>
                </div>
            </div>
            <div class="statistics-info music-info">
                <div class="statistics-close">
                    <ion-icon class="statistics-close-icon" name="arrow-forward-outline"></ion-icon>
                </div>
                <div class="statistics-frame">
                    <template v-for="(item,index) in currentChat.contactInfo.chatInfo">
                        <div class="music-info-items" v-if="item.file&&item.filetype==='audio'&&item.share===null" @click="audioPreview(item.fileStorageNo,item.content)">
                            <div class="music-icon">
                                <ion-icon name="caret-forward-outline"></ion-icon>
                            </div>
                            <div class="music-info-introduce">
                                <h5>{{item.content}}</h5>
                                <span>时长</span>
                                <span>{{item.size}}</span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <div class="up-load">
        <div class="img-frame shadow">
            <div class="img-frame-head">
                <div class="ion-icon-center" id="upload-close">
                    <ion-icon name="close-outline"></ion-icon>
                </div>
                <span>选择</span>
            </div>
            <div class="img-show">
                <img id="preview-img" src="" alt="预览">
            </div>
            <form @submit.prevent="submitHeadPortrait" method="post" enctype="multipart/form-data">
                <input id="scale" name="scale" type="hidden">
                <input id="x" name="x" type="hidden">
                <input id="y" name="y" type="hidden">
                <input id="w" name="w" type="hidden">
                <input id="h" name="h" type="hidden">
                <div class="submit ion-icon-center shadow">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </div>
                <input id="image-input-frame" type="file" name="headportrait" accept="image/*" hidden>
                <input id="image-send" type="submit" value=" ">
            </form>
        </div>
    </div>
    <!--    提示信息-->
    <div class="create-chat-folder">
        <div class="img-frame shadow" style="width: 200px;">
            <h3 v-html="showTitle"></h3><br>
            <p v-html="showMsg"></p>
            <div class="options">
                <div class="cancel" @click="cancelOption">
                    取消
                </div>
                <div class="ok" @click="okOption">
                    确定
                </div>
            </div>
        </div>
    </div>
    <div class="video-player">
        <div id="video-close" class="ion-icon-center">
            <ion-icon name="close-outline"></ion-icon>
        </div>
        <div id="container" class="container">
            <video id="video-player" width="60%" poster=""></video>
            <div class="pos">
                <div id="video-pre" class="ion-icon-center magnify">
                    <ion-icon name="play-skip-back-outline"></ion-icon>
                </div>
                <div id="playBtn" class="ion-icon-center magnify">
                    <ion-icon name="caret-forward-outline"></ion-icon>
                </div>
                <div id="video-next" class="ion-icon-center magnify">
                    <ion-icon name="play-skip-forward-outline"></ion-icon>
                </div>
                <span id="time1">00:00:00</span>
                <progress  value="0" id="progress"></progress>
                <span id="time2">00:00:00</span>
                <div id="full" class="ion-icon-center magnify">
                    <ion-icon name="expand-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="photo-player">
        <div id="photo-close" class="ion-icon-center">
            <ion-icon name="close-outline"></ion-icon>
        </div>
        <div class="container">
            <div class="photo-player-up">
                <div class="ion-icon-center magnify col-10">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </div>
                <div class="photo-frame">
                    <img id="photo-player" height="100%" width="100%" src="" alt="聊天发送的图片" onload="autoSize(event)">
                </div>
                <div class="ion-icon-center magnify col-10">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </div>
            </div>
            <div class="photo-player-down">
                <div class="ion-icon-center magnify" id="photo-expand">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </div>
                <div class="ion-icon-center magnify" id="photo-shrink">
                    <ion-icon name="remove-circle-outline"></ion-icon>
                </div>
                <div class="ion-icon-center magnify" id="photo-download">
                    <ion-icon name="cloud-download-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <div id="addfriend-info" class="shadow add-hint-unactive">
        <div id="addfriend-frame">
            <div style="width: 3rem;height: 3rem;border-radius: 4px;overflow: hidden;">
                <img src="./image/1.jpeg" width="100%" height="100%" alt="">
            </div>
            <p id="hint-info"></p>
            <div class="ion-icon-center" @click="userAddContact">
                <ion-icon name="add-circle-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div id="reset-contact-name">
        <div class="img-frame shadow" style="width: 200px;">
            <h3>更改联系人昵称</h3>
            <div class="input-group" style="margin: 1rem 0;">
                <input class="input-style" type="text" name="resetName" id="resetName" maxLength="50">
                <div class="underline"></div>
                <label for="resetName">新的昵称</label>
            </div>
            <div class="options">
                <div class="cancel" id="canclResetName">
                    取消
                </div>
                <div class="ok" id="submitResetName">
                    确定
                </div>
            </div>
        </div>
    </div>
    <div id="share-list">
        <div class="img-frame shadow" style="box-sizing: content-box;width: 300px;">
            <div class="img-frame-head">
                <div class="ion-icon-center" id="share-list-close">
                    <ion-icon name="close-outline"></ion-icon>
                </div>
                <span>选择</span>
            </div>
            <form @submit.prevent="shareContact" method="get">
                <div class="share-list-item" style="max-height: 350px;overflow-y: scroll;">
                    <template v-for="person in contact[0]">
                        <div v-if="currentChat.contactInfo.contactid!=person.contactid" class="select-mumbers-items">
                            <div class="portrait small-3">
                                <img :src="person.headportrait" alt="">
                            </div>
                            <label>{{person.nickname}}</label>
                            <input class="checkbox-mumbers" type="checkbox" v-model="person.select">
                        </div>
                    </template>
                </div>
                <div class="submit ion-icon-center shadow">
                    <ion-icon name="checkmark-outline"></ion-icon>
                </div>
                <input id="share-send" type="submit" value=" ">
            </form>
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="./js/vue.min.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/audio.min.js"></script>
<script src="./js/main.min.js"></script>
<script src="./js/add-folder.min.js"></script>
<script src="./js/main-left.min.js"></script>
<script src="./js/general-setting.min.js"></script>
<script src="./js/websocket.min.js"></script>
<script src="./js/circle-tailoring.min.js"></script>
<script src="./js/coolapk-emotion-svg.min.js"></script>
<script src="./js/file.min.js"></script>
<script src="./js/video.min.js"></script>
<script src="./js/photo.min.js"></script>
<script src="./js/contact.min.js"></script>
<script src="./js/share.min.js"></script>
<script>
    const isDarkTheme = window.matchMedia("(prefers-color-scheme: dark)"); // 是深色
    if (isDarkTheme.matches) { // 是深色
        $('#darkModel').click();
    }
</script>
</body>

</html>